[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypipython"

[packages]

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-watch = "*"

[requires]
python_version = "3.11"
